<h1>How awesome is this page?</h1>
<h2 id="awesomeness_holder"></h2>
<p>
  <button class="super_awesome" data-heading="SUPER awesome">Super Awesome</button>
  <button class="not_awesome" data-heading="NOT awesome">NOT Awesome</button>
</p>
